.skills{
  margin-top: 5px;
  background: #1b1e34;
  padding-top:50px;
  padding-bottom: 50px;
  // -webkit-box-shadow: 10px 10px 5px 0px #c3a09a;
  // -moz-box-shadow: 10px 10px 5px 0px #c3a09a;
  // box-shadow: 10px 10px 5px 0px #c3a09a;
  // border-radius: 10px 10px;
  color:white;
}
.skills_text {
  font-size: 18px;
}
.skills__gra {
  padding-right:20px;
}

@media (max-width: 550px) {
  .skills{
    padding: 10px;
  }
}

.card-img-top{
  padding: 8px;
}
.progress-bar{
  width: 25%;
}
.react-sweet-progress-symbol{
  color:white;
}